<section class="about" id="about">
    <div class="about__container">
      <img class="about__container--img" src="./assets/images/about.jpg" alt="Foto sobre mí">
    </div>
    <article class="about__article">
        <h1 class="about__article--name">Sobre mí</h1>
        <p class="about__article--text">Tras trabajar en el ámbito cultural y de la atención al cliente, decidí dar un cambio a mi vida entrando de lleno en el mundo de las nuevas tecnologías y la programación. Soy una persona proactiva y con ganas de aprender, busco mi primera oportunidad en el campo del desarrollo web. Eficiente, responsable y motivada, dispuesta a aportar mi granito de arena en proyectos y aprender de profesionales con experiencia.</p>
        <button class="overlay__btn overlay__btn--transparent about__article--button" id="download-cv-button">Descarga CV</button>
    </article>
</section>