<header class="home" id="home">
    <nav class="home__nav">
        <ul class="home__nav--links">
            <li class="element"><a class="link" href="#home">Inicio</a></li>
            <li class="element"><a class="link" href="#about">Sobre mí</a></li>
            <li class="element"><a class="link" href="#skills">Habilidades</a></li>
            <li class="element"><a class="link" href="#projects">Proyectos</a></li>
            <li class="element"><a class="link" href="#contact">Contacta conmigo</a></li>
        </ul>
    </nav>
</header>