<section class="profile">
    <div class="profile__social">
        <ul class="profile__social--links">
            <li><a class="link" href="https://www.linkedin.com/in/elena-clemente-rentero/" target=”_blank”><i
                        class="fa-brands fa-linkedin fa-xl"></i></a></li>
            <li><a class="link" href="https://github.com/ElenaRentero" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
            <li><a class="link" href="https://twitter.com/Elenacleren" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
        </ul>
    </div>
    <!-- Canvas -->
    <canvas class="orb-canvas" id="miCanvas" style="background-color: transparent;"></canvas>
    <!-- Overlay -->
    <div class="overlay">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner profile__article">
            <div class="profile__photo">
                <img class="profile__photo--img" src="./assets/images/photo.jpg" alt="Foto personal" />
            </div>
            <h1 class="profile__article--name text-gradient">Elena Clemente Rentero</h1>
            <h2 class="profile__article--title">Desarrolladora Web Junior</h2>
            <p class="profile__article--text">Desarolladora web actualmente situada en Málaga,
                busco unirme a un
                equipo
                dinámico y colaborativo en el que pueda desarrollar mis habilidades.</p>
            <!-- Links and buttons -->
            <div class="overlay__btns">
                <a class="overlay__btn overlay__btn--transparent profile__article--button" target="_blank" rel="noreferrer" href=mailto:elenaclementerentero@gmail.com>Contacta conmigo</a>
            </div>
        </div>

    </div>
    <button id="scrollTopBtn" class="scroll-top-btn hidden"><img height="20px" src="./assets/images/scroll.png" alt="Subir al inicio"></button>
</section>