<section class="about" id="about">
    <div class="about__container">
      <img class="about__container--img" src="./assets/images/about.jpg" alt="Foto sobre mí">
    </div>
    <article class="about__article">
        <h1 class="about__article--name">Sobre mí</h1>
        <p class="about__article--text">Como desarrollador Full Stack, me caracterizo por mi responsabilidad, perseverancia y dedicación constante. Mi identidad profesional se fundamenta en una firme determinación por ampliar constantemente mis conocimientos y habilidades, siempre con la mirada puesta en mi crecimiento y desarrollo.</p>
        <button class="overlay__btn overlay__btn--transparent about__article--button" id="download-cv-button">Descarga CV</button>
    </article>
</section>