<section class="projects" id="projects">
    <h1 class="projects__title">Proyectos</h1>
    <div class="projects__list">
        <article class="projects__article">
            <h2 class="projects__article--title">El ahorcado</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-html5"></i></li>
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-css3-alt"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/ahorcado.jpg"
                alt="Rick & Morty Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/MauroArjona/El-ahorcado" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/rick-and-morty-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">Busify</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-boostrap"></i></li>
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-laravel"></i></li>
                <li><i class="fa-brands fa-php"></i></li>
                <li><i class="fa-brands fa-github"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/Busify.jpg" alt="To Do App">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/to-do-app" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero-to-do-app.netlify.app/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">Proximamente</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-html5"></i></li>
                <li><i class="fa-brands fa-css3-alt"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/breakingbad.png" alt="Breaking Bad Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/breaking-bad-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/breaking-bad-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
    </div>
</section>