<section class="projects" id="projects">
    <h1 class="projects__title">Proyectos</h1>
    <div class="projects__list">
        <article class="projects__article">
            <h2 class="projects__article--title">Rick and Morty Project</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-react"></i></li>
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/rickandmorty.png"
                alt="Rick & Morty Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/rick-and-morty-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/rick-and-morty-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">To Do App</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-react"></i></li>
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/todoapp.png" alt="To Do App">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/to-do-app" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero-to-do-app.netlify.app/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">Breaking Bad Project</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/breakingbad.png" alt="Breaking Bad Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/breaking-bad-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/breaking-bad-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">AdaCards Project</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-node-js"></i></li>
                <li><i class="fa-brands fa-react"></i></li>
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/adacards.png" alt="AdaCards Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/adacards-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero-adacards.cyclic.app/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">Rings of Power Game</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-css3-alt"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/ringsofpower.png" alt="Rings of Power Game">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/rings-of-power-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/rings-of-power-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">Women in Tech</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-html5"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/womenintech.png" alt="Women in Tech">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/women-in-tech-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/women-in-tech-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">JavaScript Cards Project</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/javascriptcards.png" alt="JavaScript Cards Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/javascript-cards-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/javascript-cards-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">Layout Project</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-html5"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/layoutproject.png" alt="Layout Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/layout-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/layout-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
        <article class="projects__article">
            <h2 class="projects__article--title">Adalab Project</h2>
            <ul class="projects__article--tech">
                <li><i class="fa-brands fa-react"></i></li>
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fa-brands fa-sass"></i></li>
            </ul>
            <img class="projects__article--img" width="260px" src="./assets/images/adalabproject.png" alt="Adalab Project">
            <ul class="projects__article--links">
                <a class="link" href="https://github.com/ElenaRentero/adalab-project" target=”_blank”><i
                        class="fa-solid fa-file-code fa-2xl"></i></a>
                <a class="link" href="https://elenarentero.github.io/adalab-project/" target=”_blank”><i
                        class="fa-solid fa-window-maximize fa-2xl"></i></a>
            </ul>
        </article>
    </div>
</section>