<section class="skills" id="skills">
    <h1 class="skills__title">Habilidades</h1>
    <div class="skills__container">
        <article class="skills__section">
            <h2 class="skills__section--title">Front End</h2>
            <ul class="list1">
                <li> <i class="fa-solid fa-code"></i> HTML5</li>
                <li> <i class="fa-solid fa-code"></i> CSS3</li>
                <li> <i class="fa-solid fa-code"></i> Flexbox</li>
                <li> <i class="fa-solid fa-code"></i> CSS Grid</li>
                <li> <i class="fa-solid fa-code"></i> JavaScript</li>
                <li> <i class="fa-solid fa-code"></i> SASS</li>
                <li> <i class="fa-solid fa-code"></i> Bootstrap</li>
                <li> <i class="fa-solid fa-code"></i> React</li>
            </ul>
        </article>
        <article class="skills__section">
            <h2 class="skills__section--title">Back End</h2>
            <ul class="list2">
                <li> <i class="fa-solid fa-code"></i> NodeJs</li>
                <li> <i class="fa-solid fa-code"></i> ExpressJs</li>
                <li> <i class="fa-solid fa-code"></i> SQLite</li>
            </ul>
        </article>
        <article class="skills__section">
            <h2 class="skills__section--title">Soft Skills</h2>
            <ul class="list3">
                <li> <i class="fa-solid fa-code-branch"></i> Autónoma</li>
                <li> <i class="fa-solid fa-code-branch"></i> Comunicativa</li>
                <li> <i class="fa-solid fa-code-branch"></i> Proactiva</li>
                <li> <i class="fa-solid fa-code-branch"></i> Eficiente</li>
                <li> <i class="fa-solid fa-code-branch"></i> Responsable</li>
            </ul>
        </article>
    </div>
</section>