.about {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media all and (min-width: 720px) {
    justify-content: flex-end;
  }
  &__container {
    display: none;
    @media all and (min-width: 720px) {
      @include container();
    }
    &--img {
      width: inherit;
      height: 400px;
      object-fit: cover;
    }
  }
  &__article {
    width: 100%;
    padding: 1.5rem;
    @include article();
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media all and (min-width: 720px) {
      padding: 4rem 2rem;
      width: 60%;
    }
    @media all and (min-width: 1200px) {
      margin-right: 3rem;
      margin-left: 45%;
    }
    &--name {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--dark-color);
      margin-bottom: 2rem;
      @media all and (min-width: 700px) {
        font-size: 1.5rem;
      }
    }
    &--text {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 0;
      @media all and (min-width: 700px) {
        font-size: 1rem;
        line-height: 1.75rem;
      }
    }
    &--button {
      margin-top: 2rem;
      width: 50%;
    }
  }
}
