.profile {
  display: flex;
  margin-bottom: 2rem;
  @media all and (min-width: 720px) {
    margin-bottom: 0;
  }
  @media all and (min-width: 1200px) {
    justify-content: space-around;
  }
  &__social {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    @media all and (min-width: 720px) {
      height: 100%;
      margin: 20px 40px 20px 20px;
    }
    @media all and (min-width: 1200px) {
      margin: 20px 20px 20px 20px;
    }
  }
  &__article {
    &--name {
      margin: 20px 0 20px 20px;
      font-size: 1.3rem;
      width: 100%;
    }
    &--title {
      margin: 0 0 10px 20px;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.025em;
      margin-bottom: 1rem;
      @media all and (min-width: 720px) {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
      }
      @media all and (min-width: 1200px) {
        font-size: 1.5rem;
      }
    }
    &--text {
      margin: 0 0 20px 20px;
      font-size: 0.9rem;
      margin-bottom: 1rem;
      width: 90%;
      
      @media all and (min-width: 720px) {
        width: 65%;
        line-height: 1.5rem;
        margin-bottom: 2.5rem;
      }
    }
    &--button {
      margin: 0 0 0 20px;
      background-color: black;
      color: white;
      padding: 10px 10px 10px 10px;
      border-radius: 10px;
    }
  }
  &__photo {
    display: flex;
    justify-content: center;
    @media all and (min-width: 720px) {
      float: right;
      margin-top: 2rem;
    }
    &--img {
      @include photo();
      @media all and (min-width: 1200px) {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.fa-brands {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 3rem;
}

.fa-brands:hover {
  @include gradient();
}

.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.overlay {
  height: fit-content;
  width: 100%;
  max-width: 1140px;
  max-height: 640px;
  padding: 4rem 2rem;
  @include article();
  @media all and (max-width: 600px) {
    padding: 1.5rem;
  }
  @media all and (min-width: 720px) {
    align-items: center;
    width: 80%;
  }
  @media all and (max-width: 840px) {
    padding: 1.5rem;
  }
}

.text-gradient {
  @include gradient();
}

.overlay__btns {
  width: 100%;
  max-width: 30rem;
  display: flex;
  @media all and (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.overlay__btn {
  @include button();
  @media all and (max-width: 600px) {
    width: 100%;
    font-size: 0.9rem;
  }
  &--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
  }
}

.overlay__btn:first-child {
  @media all and (max-width: 600px) {
    margin-bottom: 1rem;
  }
}

ul {
  padding-left: 0 !important;
}

.overlay__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-contrast: high) {
  .orb-canvas {
    display: none;
  }
}

.scroll-top-btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 1rem;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px 10px 12px 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 999;
}
